.top-menu-section{
    display: none;
    position: absolute;
    width: 200px;
    height: 300px;
    left: 1px;
    background-color: black;
    opacity: 0;
    transition: opacity 4s ease;
    margin-top: 30px;
    border-radius: 5px;
    z-index: 4;
}

.active-top-menu-section{
    opacity: 1;
    display: flex;
}